<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${groceryList.name}"></title>

    <style>
        .lineItem{
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="sidenav" th:replace=" fragments/sidenav :: sidenav"></div>

<div class="main">

    <div>
        <h1 class="display-3" th:text="${groceryList.name}"></h1>
    </div>

    <div>
        <table class="table table-bordered">

            <tbody>
            <tr>
                <th scope="row">items</th>
                <td>
                    <ul th:each="ingredient: ${ingredients}" class="list-group list-group-flush">
                        <div class="lineItem">
                            <li th:text="${ingredient.amount} + ' ' + ${ingredient.unit} + ' ' + ${ingredient.description} "  class="list-group-item" ></li>
                            <a  class="btn btn-primary" th:href="${'/grocery-list/delete-ingredient/' + groceryList.getId() + '/' + ingredient.getId() }">Delete</a>
                        </div>


                    </ul>
                </td>
            </tr>

            </tbody>
        </table>
    </div>



    <div>
        <a class="btn btn-primary" th:href="${'/grocery-list/delete/' + groceryList.getId()}">Delete</a>
    </div>

</div>

</body>
</html>